@import "tailwindcss";

@theme {
  --color-upi-saffron: #FF9933;
  --color-upi-green: #138808;
  --color-upi-blue: #000080;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
